.board-write{
    margin: 0 auto;
    text-align: center;
    width: 70%;
    height: 83vh;
}

.board-items{
    padding-top: 10px;
    display: flex;
    text-align: center;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

.board-items input{
    border-radius: 10px;
    height: 40px;
    width: 78%;
}

.board-items select{
    text-align: center;
    font-size: 1rem;
    height: 40px;
    width: 20%;
    border-radius: 10px;
}

.board-items textarea{
    min-width: 100%;
    width: 100%;
    height: 400px;
    min-height: 400px;
    max-height: 400px;
    border-radius: 10px;
}

.board-items input[type=button],
.board-items input[type=submit]{
    background-color: rgba(152, 152, 152, 0.33);
    font-size: 1.5rem;
    height: 40px;
    width: 49%;
    color: white;
    box-shadow: 5px 5px 5px rgba(187, 187, 187, 0.55);
}