.main-container{
    margin: 0 auto;
    width: 70%;
}
.main-content{
    min-height: 500px;
}
.quarter-margin-bottom{
    margin-bottom: 25px;
}
.title{
    margin-bottom: 8px;
}
.between-info{
    display: flex;
    justify-content: space-between;
}
.recommend-set{
    margin: 0 auto;
    width: 20%;
}
.recommend-button-set{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.recommend-button-set > button{
    min-width: 15px;
}

.comment-count > span{
    color: #ff4d4d;
    font-weight: bold;
    font-size: 1.2rem;
}